* {
  padding: 0;
  margin: 0;
  color: #0014ff;
}

a {
  text-decoration: none;
  margin-top: 1rem;
}

article {
  align-items: center;
  background-color: #009eff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 1.5px;
  padding: 2rem;
}

article > img {
  width: 200px;
}

body {
  background-color: #00fff6;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

footer {
  display: flex;
  justify-content: center;
}

footer div {
  flex: 1;
}

.footer-image {
  width: 20px;
}

header {
  margin: 2rem 0;
}

nav {
  background-color: #009eff;
  border-radius: 4px;
  height: 1.4rem;
}
nav li {
  margin: 0 3rem;
}

nav li:hover {
  background-color: #00e7ff;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.promotion {
  background-image: url("./promotion.jpg");
  border-radius: 8px;
  height: 400px;
}

.promotion > h1 {
  color: white;
  font-size: 4rem;
  margin: 1rem 1rem;
}

section {
  display: flex;
  margin: 2rem 0;
}
