* {
  padding: 0;
  margin: 0;
}

article {
  flex: 1;
}

body {
  background-color: gray;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  justify-content: center;
}

footer div {
  flex: 1;
}

.footer-image {
  width: 20px;
}

header {
  margin: 2rem 0;
}

.header-image {
  width: 500px;
}

nav li {
  margin: 0 3rem;
}

nav li:hover {
  background-color: lightblue;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.promotion-image {
  width: 100%;
}
section {
  display: flex;
  margin: 2rem 0;
}
